#### DICTIONARIES

#### Basic Dictionary in Julia

my_dict = Dict("name" => "Paraskevas", "age" => 35, "city" => "Athens")
Dict is the type.

"name" => "Paraskevas" creates a key-value pair.

In [6]:
my_dict = Dict("name" => "Paraskevas", "age" => 35, "city" => "Athens")

Dict{String, Any} with 3 entries:
  "name" => "Paraskevas"
  "city" => "Athens"
  "age"  => 35

#### In Julia, Dict{String, Any} means:

A dictionary where the keys are String type and the values can be of any type.

#### Dict{K, V} is the general form of a typed dictionary:

K = type of keys

V = type of values

In [8]:
# EXAMPLE
d = Dict{String, Any}()
d["name"] = "Paraskevas"      # String
d["age"] = 35                 # Int
d["grades"] = [8.5, 9.0, 10]  # Array{Float64}

## another way to define and populate a dictionary

3-element Vector{Float64}:
  8.5
  9.0
 10.0

#### List Dictionary content
##### using for

In [10]:
for (key, value) in my_dict
    println("$key => $value")
end

name => Paraskevas
city => Athens
age => 35

#### Accessing Values

In [12]:
#### Accessing Values
my_dict["name"]

"Paraskevas"

##### Adding or Updating

In [15]:

my_dict["profession"] = "Engineer"  # Add new key-value
my_dict["age"] = 36                 # Update value

36

#### Removing a Key

In [18]:
delete!(my_dict, "city")

Dict{String, Any} with 3 entries:
  "name"       => "Paraskevas"
  "profession" => "Engineer"
  "age"        => 36

### Dictionary Functions
Julia Method	Purpose

keys(my_dict)	All keys

values(my_dict)	All values

haskey(my_dict, key)	Check if key exists

get(my_dict, key, def)	Get value or return def if missing

pop!(my_dict, key)	Remove and return value

merge(dict1, dict2)	Combine two dictionaries]

In [25]:
for (k, v) in my_dict
    println("$k => $v")
end

name => Paraskevas
profession => Engineer
age => 36

#### Dictionary with Typed Keys and Values

d = Dict{String, Int}("a" => 1, "b" => 2)

Forces all keys to be String, values to be Int.

#### Nested Dictionary

In [30]:
# Nested Dictionary

nested = Dict(
    "Alice" => Dict("age" => 30, "city" => "Patras"),
    "Bob" => Dict("age" => 25, "city" => "Athens")
)

nested["Alice"]["city"]  # "Patras"

"Patras"