## python variables

### üü¢ Creating Variables
Python uses a simple syntax:

python
Copy
Edit
x = 5           # Integer
name = "Alice"  # String
pi = 3.14       # Float
is_valid = True # Boolean
You don‚Äôt need to declare the type‚ÄîPython figures it out automatically.

‚úèÔ∏è Variable Naming Rules
Must start with a letter (a‚Äìz, A‚ÄìZ) or an underscore (_)

Can contain letters, numbers, and underscores

Case-sensitive (myVar and myvar are different)

Avoid using Python keywords (like class, def, if, etc.)

Examples of valid names:

python
Copy
Edit
age = 25
_userName = "Bob"
total_3 = 100
Invalid:

python
Copy
Edit
3total = 100     # Starts with a number
user-name = "Sam" # Hyphen not allowed
üì¶ Changing the Value
Variables can change type:

python
Copy
Edit
x = 10
x = "Now I'm a string!"
üîÑ Multiple Assignments
python
Copy
Edit
a, b, c = 1, 2, 3
x = y = z = 0     # All assigned 0
üß™ Check Type
python
Copy
Edit
print(type(x))

In [1]:
x = 5           # Integer
name = "Alice"  # String
pi = 3.14       # Float
is_valid = True # Boolean

In [13]:
# valid
age = 25
_userName = "Bob"
total_3 = 100

In [ ]:
3total = 100     # Starts with a number
user-name = "Sam" # Hyphen not allowed

In [15]:
x = 10
print(type(x))
x = "Now I'm a string!"
print(type(x))

<class 'int'>
<class 'str'>

In [ ]:
## Multiple Assignments

a, b, c = 1, 2, 3
x = y = z = 0     # All assigned 0

In [3]:
import math
x = 3
name = "ŒöœéœÉœÑŒ±œÇ"
pi = 3.14   #THE pi is math.pi
print(type(x))
t=type(x)
tt=type(t)
print("t is :",t)
#print(t[0])  error: not subscriptable
print(tt)
print(x)
print(type(22))
print("7")
print(7)
print("type of pi is",type(pi))
print("type of name is:", type(name))
# y=pi*100
print(1.2E2)
#print(piE2) #error enw to pi einai orismeno
print(math.pi)
# comment added
# new comment added at the origin(git-hub file) by some malicious person

<class 'int'>
t is : <class 'int'>
<class 'type'>
3
<class 'int'>
7
7
type of pi is <class 'float'>
type of name is: <class 'str'>
120.0
3.141592653589793

### main Python variable types

In [17]:
# Integer (int)
#Whole numbers (positive or negative)

x = 10
y = -3
print(type(x))  # <class 'int'>

<class 'int'>

In [19]:
#Floating-point (float)
#Numbers with a decimal point


pi = 3.14159
temp = -0.5
print(type(pi))  # <class 'float'>

<class 'float'>

In [21]:
#String (str)
#Text data, enclosed in quotes (' or ")


name = "Alice"
greeting = 'Hello'
print(type(name))  # <class 'str'>

<class 'str'>

In [23]:
#Boolean (bool)
#Logical values: True or False


is_active = True
has_error = False
print(type(is_active))  # <class 'bool'>

<class 'bool'>

In [25]:
#List (list)
#Ordered, changeable collection (can contain mixed types)


numbers = [1, 2, 3, 4]
items = ["apple", 3.14, True]
print(type(numbers))  # <class 'list'>

<class 'list'>

In [29]:
#Tuple (tuple)
#Ordered, unchangeable collection


coords = (10.0, 20.0)
colors = ("red", "green", "blue")
print(type(coords))  # <class 'tuple'>

<class 'tuple'>

In [31]:
# Set (set)
#Unordered collection of unique values


unique_nums = {1, 2, 3, 2, 1}
print(unique_nums)       # {1, 2, 3}
print(type(unique_nums)) # <class 'set'>

{1, 2, 3}
<class 'set'>

In [33]:
 #Dictionary (dict)
#Key-value pairs (like a mini database)


person = {
    "name": "Alice",
    "age": 30,
    "is_student": False
}
print(type(person))  # <class 'dict'>

<class 'dict'>

### in addition to the basic built-in types we just covered (int, float, str, bool, list, tuple, set, dict), Python has several other useful data types‚Äîespecially when you get into more advanced or specialized programming.

Here‚Äôs a quick list of other data types you might come across:

üî∏ NoneType
Represents a null value or no value at all.

python
Copy
Edit
result = None
print(type(result))  # <class 'NoneType'>
üî∏ Bytes and Bytearray
Used for binary data (like files, images, or network data)

python
Copy
Edit
data = b"Hello"          # bytes
buffer = bytearray(5)    # bytearray of 5 zeros
print(type(data))        # <class 'bytes'>
üî∏ Range
Represents a sequence of numbers (often used in loops)

python
Copy
Edit
C
üî∏C
üî∏ frozenset
Like a set, but immutable (cannot be changed)

python
Copy
Edit
fs = frozenset([1, 2, 3])
print(type(fs))  # <class 'frozenset'>
üß† Advanced or Custom Types:
Custom classes (you create your own types with class)

NamedTuple, Enum, and dataclass (used in structuring complex data)

Third-party types (e.g., numpy.array, pandas.DataFrame)

In [35]:
#NoneType
#Represents a null value or no value at all.


result = None
print(type(result))  # <class 'NoneType'>

<class 'NoneType'>

In [5]:
data = b"Hello"          # bytes
buffer = bytearray(5)    # bytearray of 5 zeros
print(type(data))        # <class 'bytes'>
print(data)

<class 'bytes'>
b'Hello'

### range
The range() function in Python is a built-in tool for generating sequences of numbers. It is commonly used in loops for iteration and has three main forms:

1. Single Argument: range(stop)
Generates numbers starting from 0 up to, but not including, the stop value.

Example: range(5) produces [0, 1,[3][4].

If stop is less than or equal to 0, the result is an empty sequence12.

2. Two Arguments: range(start, stop)
Specifies both the starting (start) and stopping (stop) points of the sequence.

The sequence starts at start and goes up to, but does not include, stop.

Example: range(5, 10) produces [5,[6][7][8]12.

3. Three Arguments: range(start, stop, step)
Adds a step parameter to control the difference between consecutive numbers.

Positive steps create ascending sequences; negative steps create descending sequences.

Example: range(0, 10, 2) produces [0,[4][6][8], and range(10, 5, -1) produces [10, 9,6]13.

Key Features
Lazy Evaluation: The range object generates numbers on demand rather than storing them all in memory3.

Reversed Iteration: Use the reversed() function to iterate over a range in reverse order13.

Type: Technically, range() is a class constructor that returns a range object rather than a function3.

Applications
The range() function simplifies tasks like:

Iterating over indices in lists or strings.

Generating custom sequences for mathematical operations.

Controlling loops with specific start/stop values and increments24.

By mastering the variations of range(), you can write cleaner and more efficient Python code.


Share

Export

Rewrite

In [21]:
#Single Argument: range(stop)
#Generates numbers starting from 0 up to, but not including, the stop value.

a=range(5)

print(a)

display(a)

print(a[1])

range(0, 5)

range(0, 5)

1

When you define a = range(5) in Python, the variable a becomes a range object that represents a sequence of numbers from 0 to 4. However, when you print the range object directly using print(a), it outputs something like range(0, 5) instead of the actual numbers. This is because the range object is lazily evaluated‚Äîit does not generate the numbers until explicitly iterated over.

To see the numbers in the range, you can convert the range object to a list or iterate through it:

### Why Does This Happen?
### The range object in Python is lazy‚Äîit does not store all the numbers in memory. Instead, it behaves like an iterable that generates numbers on demand when you iterate over it. This design makes range() efficient for working with large sequences because it avoids creating a potentially huge list in memory.

To Clarify:

print(a): Prints the range object itself (e.g., range(0, 5)),

which is just a description of the range.

print(list(a)): Converts the range object into a list and prints the

In [25]:
a = range(5)
for number in a:
    print(number)  # Output: 0, 1, 2, 3, 4 (printed one per line)

0
1
2
3
4

In [31]:
a=range(5,10)

5
6
7
8
9

In [33]:
a=range(0,10,2)
for number in a:
    print(number)

0
2
4
6
8

### frozenset
Like a set, but immutable (cannot be changed)

In [35]:

fs = frozenset([1, 2, 3])
print(type(fs))  # <class 'frozenset'>

<class 'frozenset'>

### Custom Types:
Custom classes (you create your own types with class)

NamedTuple, Enum, and dataclass (used in structuring complex data)

Third-party types (e.g., numpy.array, pandas.DataFrame)